.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 3.1rem;
  background-color: #3f4c63;
}

.header__tittle {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem;
}

.header__btn {
  margin: 0 0.2rem 0 0.2rem;
  background-color: #39445700;
  height: 1.5rem;
  width: 1.7rem;
  border-radius: 3px;
  /* border-color: #39404d; */
  border: 2px solid #505b73;
  border-width: 1.5px;
}

.header__btn i {
  color: #3694d7;
}

.header__paragraph::after {
  content: "|";
  color: white;
  animation: cursor 1s linear infinite;
}

.header__img {
  width: 2rem;
  margin: 1rem 0rem 1rem 1rem;
}

@keyframes cursor {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}
.header__tittle__main {
  display: flex;
  align-items: center;
}

.header__tittle__main i {
  color: white;
  font-size: 2rem;
  margin: 0 0 0 0.6rem;
}

.header__btn-container {
}
